<div class="page_container">
  <%= render "partials/navbar"%>
  <div class="row middle-xs" id="signUp">
    <div class="col-xs-offset-5 col-xs-7">


      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.email_field :email,placeholder: "Email"  %>
        </div>

        <div class="field">
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off",placeholder:"Password" %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder:"Confirm Password" %>
        </div>

        <div class="field">
          <%= f.text_field :name, placeholder:"Nombre" %>
        </div>

        <div class="field">
          <%= f.text_field :lastname, placeholder:"Apellidos" %>
        </div>

        <div class="field">
          <%= f.label "Es estatal?"%>
          <%= f.check_box :admin %>
        </div>

        <div class="actions">
          <%= f.submit "Agregar" %>
        </div>
      <% end %>



    </div>
  </div>
</div>
